*.o
*.hex
*.lss
*.map
*.epp
*.mk
*.dat
*.elf
*~
/skydrop/Release
/skydrop/Debug
/skydrop_sd_bootloader/Release
/skydrop_sd_bootloader/Debug
makefile
generated*.png
*.pyc
/skydrop/utils/.ipynb_checkpoints/

