
<div ng-switch="item.mode" class="ctrl_item">
	<h4>
		{{item.name}}<span ng-if="item.desc">, {{item.desc}}</span>
	</h4>

	<div ng-switch-when="number">
		<ctrl-number ng-model="item.value" min="item.min" max="item.max"
			step="item.step"></ctrl-number>
	</div>

	<div ng-switch-when="slider">
		<ctrl-slider ng-model="item.value" min="item.min" max="item.max"
			step="item.step"></ctrl-slider>
	</div>

	<div ng-switch-when="bool">
		<ctrl-bool ng-model="item.value"></ctrl-bool>
	</div>

	<div ng-switch-when="select">
		<ctrl-select ng-model="item.value" options="item.options"></ctrl-select>
	</div>

	<div ng-switch-when="flags">
		<ctrl-flags ng-model="item.value" flags="item.flags"></ctrl-flags>
	</div>

	<div ng-switch-when="altimeter">
		<ctrl-altimeter ng-model="item.value" flags="item.flags"
			options="item.options" altimeters="item.altimeters"></ctrl-altimeter>
	</div>

	<div ng-switch-when="doubleselect">
		<ctrl-doubleselect ng-model="item.value" options1="item.options1"
			mask1="item.mask1" label1="item.label1" options2="item.options2"
			mask2="item.mask2" label2="item.label2"></ctrl-doubleselect>
	</div>

	<div ng-switch-when="tripleselect">
		<ctrl-tripleselect ng-model="item.value" options1="item.options1"
			mask1="item.mask1" label1="item.label1" options2="item.options2"
			mask2="item.mask2" label2="item.label2" options3="item.options3"
			mask3="item.mask3" label3="item.label3"></ctrl-tripleselect>
	</div>

	<div ng-switch-when="dampening">
		<ctrl-dampening ng-model="item.value" min="item.min" max="item.max"
			step="item.step"></ctrl-dampening>
	</div>

   <div ng-switch-when="text">
       <ctrl-text ng-model="item.value" max="item.size"></ctrl-number>
   </div>          

	<div ng-switch-when="readonly">{{item.value}}</div>

	<div ng-switch-default>N/A - Type {{item.pname}} not (yet!) defined.</div>

</div>
